<nav>
    <ul>
        <li><a href="/">Órarend</a></li>
        <li><a href="/admin/add-training">Új óra hozzáadása</a></li>
        <li><a href="/admin/delete-training">Óra törlése</a></li>
    </ul>
</nav>
