<%- include('includes/header')%>
<header>
    <h1>Új edzés hozzáadása</h1>
    <%- include('includes/navigation')%>
</header>

<div>
    <form action="/admin/add-training" method="POST">
        <div>
            <label for="title">Cím:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div>
            <label for="day">Nap:</label>
            <select id="day" name="day" required>
                <option value="hétfő">Hétfő</option>
                <option value="kedd">Kedd</option>
                <option value="szerda">Szerda</option>
                <option value="csütörtök">Csütörtök</option>
                <option value="péntek">Péntek</option>
                <option value="szombat">Szombat</option>
                <option value="vasárnap">Vasárnap</option>
            </select>
        </div>
        <div>
            <label for="time">Időpont:</label>
            <select id="time" name="time" required>
                <option value="10:00-11:00">10:00-11:00</option>
                <option value="11:00-12:00">11:00-12:00</option>
                <option value="12:00-13:00">12:00-13:00</option>
                <option value="13:00-14:00">13:00-14:00</option>
                <option value="14:00-15:00">14:00-15:00</option>
                <option value="15:00-16:00">15:00-16:00</option>
                <option value="16:00-17:00">16:00-17:00</option>
                <option value="17:00-18:00">17:00-18:00</option>
            </select>
        </div>
        <div>
            <label for="master">Edző:</label>
            <input type="text" id="master" name="master">
        </div>
        <button type="submit">Hozzáadás</button>
    </form>
</div>
<%- include('includes/end')%>
